<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Farmer-Profile</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com '%}" />

    <link
      rel="preconnect"
      href="{% static 'https://fonts.gstatic.com '%}"
      crossorigin
    />

    <link
      href="{% static 'https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap '%}"
      rel="stylesheet"
    />

    <link href="{% static 'css/bootstrap.min.css '%}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-icons.css '%}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/slick.css '%}" />

    <link
      href="{% static 'css/tooplate-little-fashion.css '%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
  </head>

  <body>
    <section class="preloader">
      <div class="spinner">
        <span class="sk-inner-circle"></span>
      </div>
    </section>

    <main>
      <nav class="navbar navbar-expand-lg mb-5">
        <div class="container-fluid">
          <a class="navbar-brand me-5" href="#"
            ><span style="color: #ff4400">KBT</span>-Marketplace</a
          >
          <div class="d-flex d-lg-none">
            <div class="d-flex me-4 mt-2">
              <a href="{% url 'account' %}" class="col-lg-4 me-2">
                <i class="fa-regular fa-user"></i>
              </a>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:view_crop' %}"
                  >View Crops</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:add-crop' %}"
                  >Add Crops</a
                >
              </li>

              <li class="nav-item position-relative">
                <a class="nav-link" href="{% url 'products:order_list' %}"
                  >View Orders
                  <span class="badge rounded-pill text-white bg-dark">4</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:history_view' %}"
                  >History</a
                >
              </li>
            </ul>

            <div class="d-none d-lg-block">
              <a href="{% url 'account' %}" class="col-lg-4">
                <i class="fa-regular fa-user"></i>
              </a>
            </div>
          </div>
        </div>
      </nav>
      <div
        class="container col-lg-8 mx-auto col-12 section-padding shadow-sm mt-5 mb-5"
      >
        {% include 'components/message.html' %}
        <div
          style="background-color: #fd7e14"
          class="mx-auto col-lg-8 col-12 text-light p-5 rounded-2 border"
        >
          <div class="container">
            <p class="text-light">
              <b>My Balance:</b> &#8358;{{ total_earnings }}
            </p>
          </div>
        </div>

        <div class="container mt-4">
          <div class="row">
            <div class="col-6 mb-3">
              <a
                href="{% url 'products:view_crop' %}"
                class="btn btn-dark w-100 p-3"
                >View Crops</a
              >
            </div>
            <div class="col-6 mb-3">
              <a
                href="{% url 'products:add-crop' %}"
                class="btn btn-dark w-100 p-3"
                >Add Crops</a
              >
            </div>
            <br />
            <div class="col-6 mb-3">
              <a
                href="{% url 'products:order_list' %}"
                class="btn btn-dark w-100 p-3"
                >View Orders</a
              >
            </div>
            <div class="col-6 mb-3">
              <a
                href="{% url 'products:withdraw_page' %}"
                class="btn btn-dark w-100 p-3"
                >Withdraw</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h5>Recent Orders</h5>
        <div class="table table-responsive">
          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th>Crop</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
            </thead>
            {% for item in recent_orders %}
            <tr>
              <td>{{item.crop.crop_name}}</td>
              <td>{{item.quantity}}</td>
              <td>&#8358;{{item.price}}</td>
              <td>
                {% if item.order.paid %}<span
                  style="
                    background-color: green;
                    color: white;
                    padding: 5px;
                    border-radius: 3px;
                  "
                  >Paid</span
                >{% else %}<span
                  style="
                    background-color: red;
                    color: white;
                    padding: 5px;
                    border-radius: 3px;
                  "
                  >Pending</span
                >{% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
          <div class="col-12 text-center">
            <a href="{% url 'products:order_list' %}" class="view-all"
              >View All</a
            >
          </div>
          <br />
          <h5>Pending Orders</h5>
          <div class="table table-responsive">
            <table class="table table-striped">
              <thead class="table-dark">
                <tr>
                  <th>Crop</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              {%if order_items.crop.paid != "True" %} 
              {% for item in pending_orders%}
              <tr>
                <td>{{item.crop.crop_name}}</td>
                <td>{{item.quantity}}</td>
                <td>&#8358;{{item.price}}</td>
              </tr>
              {% endfor %}
            </table>
            <div class="col-12 text-center">
              <a href="{% url 'products:pending_order_list' %}" class="view-all"
                >View All</a
              >
            </div>
            <br />
            {% else %}
            <p class="text-center">There is no pending Order</p>
            {% endif %}
          </div>

          <section class="featured-product pb-5">
            <div class="container">
              <div class="row">
                <div class="col-12 text-center">
                  <h2 class="mb-5">Uploaded Crops</h2>
                </div>

                {% for c in crop %}

                <div class="col-lg-4 col-6 mb-3">
                  <div class="product-thumb">
                    <a href="{{c.get_absolute_url}}">
                      <img
                        style="width: 300px; height: 200px"
                        src="{% if c.crop_img %}{{c.crop_img.url}}{% else %}{% static 'images/img1.jpg' %}{% endif %}"
                        class="img-fluid rounded mx-auto product-image"
                        alt="{{c.name}}"
                      />
                    </a>

                    <div class="product-top d-flex">
                      <span class="product-alert me-auto">New Arrival</span>

                      <a href="#" class="bi-heart-fill product-icon"></a>
                    </div>

                    <div class="product-info d-flex">
                      <div>
                        <h5 class="product-title mb-0">
                          <a
                            href="{{c.get_absolute_url}}"
                            class="product-title-link"
                            >{{c.crop_name}}</a
                          >
                        </h5>

                        <p class="product-p">{{c.crop_desc}}</p>
                        <small
                          class="product-price text-muted mt-auto mx-auto mb-5"
                          >&#8358;{{c.crop_price}}</small
                        ><br />
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

                <div class="col-12 text-center">
                  <a href="{% url 'products:view_crop' %}" class="view-all"
                    >View All Crops</a
                  >
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-10 me-auto mb-4">
            <h4 class="text-white mb-3">
              <a href="index.html">KBT</a>-Marketplace
            </h4>
            <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">
              Copyright © 2025 <strong>KBT-Msrkrtplace</strong>
            </p>
            <br />
            <p class="copyright-text">
              Designed by <a href="#" target="_blank">Aliyu Muhammad Musa</a>
            </p>
          </div>

          <div class="col-lg-5 col-8">
            <h5 class="text-white mb-3">Sitemap</h5>

            <ul class="footer-menu d-flex flex-wrap">
              <li class="footer-menu-item">
                <a href="about.html" class="footer-menu-link">Story</a>
              </li>

              <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">Products</a>
              </li>

              <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">Privacy policy</a>
              </li>

              <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">FAQs</a>
              </li>

              <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">Contact</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-4">
            <h5 class="text-white mb-3">Social</h5>

            <ul class="social-icon">
              <li><a href="#" class="social-icon-link bi-youtube"></a></li>

              <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

              <li><a href="#" class="social-icon-link bi-instagram"></a></li>

              <li><a href="#" class="social-icon-link bi-skype"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/Headroom.js' %}"></script>
    <script src="{% static 'js/jQuery.headroom.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
