asgiref==3.8.1
asn1crypto==1.5.1
beautifulsoup4==4.12.3
black==24.10.0
click==8.1.8
cmake==3.31.1
colorama==0.4.6
crispy-bootstrap4==2024.10
crispy-bootstrap5==2024.10
decouple==0.0.7
Django==4.2.16
django-bootstrap-v5==1.0.11
django-crispy-forms==2.3
django-fontawesome==1.0
django-jazzmin==3.0.1
django-use-email-as-username==1.4.0
djangorestframework==3.15.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pg8000==1.31.2
pillow==11.0.0
platformdirs==4.3.6
psycopg==3.1.8
PyGreSQL==6.1.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
scramp==1.4.5
six==1.17.0
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.8.2
