amqp
asgiref
asn1crypto
beautifulsoup4
billiard
black
braintree
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cmake
colorama
crispy-bootstrap4
crispy-bootstrap5
cryptography
decouple
defusedxml
Django
django-bootstrap-v5
django-crispy-forms
django-extensions
django-fontawesome
django-jazzmin
django-use-email-as-username
djangorestframework
flower
fontawesomefree
humanize
idna
kombu
MarkupSafe
mypy-extensions
oauthlib
packaging
pathspec
pg8000
pillow
platformdirs
prometheus_client
prompt_toolkit
psycopg
pycparser
PyJWT
pyOpenSSL
python-dateutil==2.9.0.post0
python3-openid
pytz==2025.1
PyYAML
redis
requests
requests-oauthlib
scramp
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
tornado
typing_extensions
tzdata
urllib3
vine
wcwidth
Werkzeug
whitenoise
