<header
                class="site-header mt-0 section-padding d-flex justify-content-center align-items-center"
                >
                <div class="container">
                  <div class="row">
                    <div class="col-lg-10 col-12">
                        <h1>
                            <p>Your password has been changed successifull</p>
                        </h1>
                      </div>
                    </div>
                  </div>
                </header>

<a href="{% url 'login' %}">Log-in</a>