{% extends "base.html" %}
{% load static %}
{% block content %}
    

<section class="slick-slideshow">   
    <div class="slick-custom">
                    <img src="{% static 'images/slideshow/sl1.jpeg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Cool Fashion</h1>
                                    
                                    <p class="lead text-white mt-lg-3 mb-lg-5">Little fashion template comes with total 8 HTML pages provided by Tooplate website.</p>
                                    
                                    <a href="about.html" class="btn custom-btn">Learn more about us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'images/slideshow/sl2.jpeg' %}" class="img-fluid" alt="">
                    
                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">New Design</h1>
                                    
                                    <p class="lead text-white mt-lg-3 mb-lg-5">Please share this Little Fashion template to your friends. Thank you for supporting us.</p>
                                    
                                    <a href="product.html" class="btn custom-btn">Explore products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'images/slideshow/sl3.jpeg' %}" class="img-fluid" alt="">
                    
                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Talk to us</h1>
                                    
                                    <p class="lead text-white mt-lg-3 mb-lg-5">Tooplate is one of the best HTML CSS template websites for everyone.</p>
                                    
                                    <a href="contact.html" class="btn custom-btn">Work with us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="featured-product section-padding">
    {% if request.user.is_authenticated %}
    <div class="container">
        <div class="row">
            
            <div class="col-12 text-center text-decoration-underline">
                <h2 class="mb-5">Featured Products</h2>
            </div>
            {% for c in crop %}
            
            <div class="col-lg-4 col-6 mb-3">
                <div class="product-thumb">
                    <a href="{{c.get_absolute_url}}">
                        <img src="{% if c.crop_img %}{{c.crop_img.url}}{% else %}{% static 'images/img1.jpg' %}{% endif %}"
                        class="img-fluid product-image"
                        style="width: 300px; height: 200px"
                        alt="">
                    </a>
                    
                    <div class="product-top d-flex">
                        <span class="product-alert me-auto">New Arrival</span>
                        
                        <a href="#" class="bi-heart-fill product-icon"></a>
                    </div>
                    
                    <div class="product-info d-flex">
                        <div>
                            <h5 class="product-title mb-0">
                                <a href="{{c.get_absolute_url}}" class="product-title-link">{{c.crop_name}}</a>
                            </h5>
                            
                            <p class="product-p">{{c.crop_desc}}</p>
                        </div>
                        
                        <small class="product-price text-muted ms-auto mt-auto mb-5">&#8358;{{c.crop_price}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <section class="about section-padding">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-12 text-center">
                            <h2 class="mb-5">Get started with <span>KBT</span> Marketplace</h2>
                        </div>
                        
                        <div class="col-lg-2 col-12 mt-auto mb-auto">
                            <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Introduction</button>
                                </li>
                                
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">How we work?</button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">Capabilites</button>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-10 col-12">
                            <div class="tab-content mt-2" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    
                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'images/img2.jpeg' %}" class="img-fluid w-100" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">Introduction on<br><span>KBT</span>-Marketplace
                                                
                                                <p>Welcome to KBT-Marketplace, your trusted online platform for agricultural trade in Kumbotso LGA, Kano State. We connect farmers, wholesalers, and buyers, providing a seamless digital marketplace for agricultural products and services. </p>
                                                
                                                <p>
                                                    Our goal is to revolutionize the way agricultural goods are bought and sold, ensuring fair pricing, efficiency, and accessibility for all stakeholders.
                                                </p>
                                                
                                                <div class="mt-2 mt-lg-auto">
                                                    <a href="" class="custom-link mb-2">
                                                        Learn more about us
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <div class="ratio ratio-16x9">
                                                <iframe src="https://www.youtube-nocookie.com/embed/f_7JqPDWhfw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">Life at Studio</h4>
                                                
                                                <p>KBT-Marketplace is a digital platform designed to facilitate the buying and selling of agricultural products in Kumbotso LGA, Kano State. The platform operates by connecting three key actors: users, farmers, and administrators, each playing a vital role in ensuring smooth transactions and marketplace efficiency.

                                                    
                                                    
                                                    </p>
                                                
                                                <p>The journey begins with user registration and authentication. Anyone interested in purchasing agricultural products can sign up as a user, while farmers who wish to sell must also create an account. However, to maintain quality and credibility, farmers are required to provide verification details, which the admin reviews before granting full access to seller privileges. This verification process ensures that only genuine farmers can list products on the marketplace.</p>
                                                
                                                <div class="mt-2 mt-lg-auto">
                                                    <a href="contact.html" class="custom-link mb-2">
                                                        Work with us
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'images/cody-lannom-G95AReIh_Ko-unsplash.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        
                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">What can help you?</h4>
                                                
                                                <p>Over three years in business, We’ve had the chance on projects</p>
                                                
                                                <div class="skill-thumb mt-3">
                                                    
                                                    <strong>Branding</strong>
                                                    <span class="float-end">90%</span>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                                            </div>
                                                            
                                                    <strong>Design & Stragety</strong>
                                                    <span class="float-end">70%</span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                                            </div>

                                                            <strong>Online Platform</strong>
                                                            <span class="float-end">80%</span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div class="mt-2 mt-lg-auto">
                                                            <a href="products.html" class="custom-link mb-2">
                                                        Explore products
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            
            <section class="front-product">
                <div class="container-fluid p-0">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-12">
                            <img src="{% static 'images/img1.jpg' %}" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="px-5 py-5 py-lg-0">
                                
                                <h2 class="mb-4"><span>Retail</span> shop owners</h2>
                                
                                <p class="lead mb-4">Credits go to Unsplash and FreePik websites for images used in this Little Fashion by Tooplate.</p>
                                
                                <a href="products.html" class="custom-link">
                                    Explore Products
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>

            <section class="featured-product section-padding">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-12 text-center text-decoration-underline">
                            <h2 class="mb-5">Featured Products</h2>
                        </div>
                        {% for c in crop %}
<div class="col-lg-4 col-12 mb-3">
    <div class="product-thumb">
        <a href="{{c.get_absolute_url}}">
            <img src="{% if c.crop_img %}{{c.crop_img.url}}{% else %}{% static 'images/img1.jpg' %}{% endif %}" class="img-fluid product-image" style="width: 400px; height: 350px;" alt="">
        </a>
        
        <div class="product-top d-flex">
            <span class="product-alert me-auto">New Arrival</span>
            
            <a href="#" class="bi-heart-fill product-icon"></a>
        </div>
        
        <div class="product-info d-flex">
            <div>
                <h5 class="product-title mb-0">
                    <a href="{{ c.get_absolute_url}}" class="product-title-link">{{c.crop_name}}</a>
                </h5>
                
                <p class="product-p">{{c.crop_desc}}</p>
            </div>
            
            <small class="product-price text-muted ms-auto mt-auto mb-5">${{c.crop_price}}</small>
        </div>
    </div>
</div>
{% endfor %}
                        
                       
{% endif %}
                        <div class="col-12 text-center">
                            <a href="" class="view-all">View All Products</a>
                        </div>
                        
                    </div>
                </div>
            </section>
            
        </main>
        
        
        {% endblock %}