<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>product_details_page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com '%}" />

    <link
      rel="preconnect"
      href="{% static 'https://fonts.gstatic.com '%}"
      crossorigin
    />

    <link
      href="{% static 'https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap '%}"
      rel="stylesheet"
    />

    <link href="{% static 'css/bootstrap.min.css '%}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-icons.css '%}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/slick.css '%}" />

    <link
      href="{% static 'css/tooplate-little-fashion.css '%}"
      rel="stylesheet"
    />
    <!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
  </head>

  <body>
    <section class="preloader">
      <div class="spinner">
        <span class="sk-inner-circle"></span>
      </div>
    </section>

    <main>
      <header
      class="site-header mt-0 section-padding d-flex justify-content-center align-items-center"
      >
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-12">
            {% if request.user.role == 'farmer' %}
            <h1>Crop Details</h1>
            {% else %}
              <h1>
                <span class="d-block text-primary">We provide you</span>
                <span class="d-block text-dark">with Good Crops</span>
              </h1>
              {% endif %}
            </div>
          </div>
        </div>
      </header>
      {% include 'components/message.html' %}
      <section class="product-detail section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="product-thumb">
                <img
                  src="{% if crop.crop_img %}{{crop.crop_img.url}}{% else %}{% static 'images/img1.jpg' %}{% endif %}"
                  class="img-fluid product-image" style="width: 500px; height: 500px;"
                  alt=""
                />
              </div>
            </div>

            <div class="col-lg-6 col-12">
              <div class="product-info d-flex">
                <div>
                  <h2 class="product-title mb-0">{{crop.crop_name}}</h2>
                  {% if request.user.role == 'farmer' %}
                  <h3>
                    <a href="">{{crop.category}}</a>
                  </h3>
                  {% else %}
                  <h3>
                    <a href="{{ crop.category.get_absolute_url }}">{{crop.category}}</a>
                  </h3>
                  {% endif %}
                </div>

                <small class="product-price text-muted ms-auto mt-auto mb-5"
                  >&#8358;{{crop.crop_price}}</small
                >
              </div>

              <div class="product-description">
                <strong class="d-block mt-4 mb-2">Description</strong>

                <p class="lead mb-5">
                  {{crop.crop_desc}}
                </p>
                {{crop.crop_desc|linebreaks}}
              </div>
              {% if request.user.role == 'farmer' %}
              <div class="product-cart-thumb row">
                <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                  <a href="{% url 'products:edit-crop' crop.id%}" class="btn custom-btn cart-btn">
                    Edit Crop
                  </a>
                </div>
                <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                  <a href="{% url 'products:remove_crop' crop.id%}" class="btn custom-btn cart-btn"> Remove Crop </a>
                </div>

                <p>
                  <a href="#" class="product-additional-link">Orders</a>

                  <a href="#" class="product-additional-link">History</a>
                </p>
              </div>

              {% else %}
              <form action="{% url 'add_to_cart' crop.id %}" method="POST">
                {% csrf_token %}
              <div class="product-cart-thumb row">
                  <label for="quantity"><b>Quantity:</b></label><br>
                  <div class="col-lg-6 col-12">
                    <select
                    class="form-select cart-form-select"
                    id="quantity"
                    name="quantity"
                    >
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                  </select>
                </div>
                
                <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                  <button
                  type="submit"
                  class="btn custom-btn cart-btn"
                  >
                  Add to Cart
                </button>
              </div>
            </form>
              <p>
                <a href="#" class="product-additional-link">Details</a>
                
                <a href="#" class="product-additional-link"
                  >Delivery and Payment</a
                  >
                </p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
      {% if request.user.role == 'farmer' %}
      {% else %}
      <section class="related-product section-padding border-top">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="mb-5">You might also like</h3>
            </div>

            {% for c in recommend_crop %}
<div class="col-lg-4 col-12 mb-3">
    <div class="product-thumb">
        <a href="{{c.get_absolute_url}}">
            <img src="{% if c.crop_img %}{{c.crop_img.url}}{% else %}{% static 'images/img1.jpg' %}{% endif %}" class="img-fluid product-image" style="width: 300px; height: 250px;" alt="">
        </a>
        
        <div class="product-top d-flex">
            <span class="product-alert me-auto">New Arrival</span>
            
            <a href="#" class="bi-heart-fill product-icon"></a>
        </div>
        
        <div class="product-info d-flex">
            <div>
                <h5 class="product-title mb-0">
                    <a href="{{ c.get_absolute_url}}" class="product-title-link">{{c.crop_name}}</a>
                </h5>
                
                <p class="product-p">{{c.crop_desc}}</p>
            </div>
            
            <small class="product-price text-muted ms-auto mt-auto mb-5">&#8358;{{c.crop_price}}</small>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="site-footer">
      <div class="container">
          <div class="row">

              <div class="col-lg-3 col-10 me-auto mb-4">
                  <h4 class="text-white mb-3"><a href="index.html">KBT</a> Marketplace</h4>
                  <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2025 <strong>KBT-Marketplace</strong></p>
                  <br>
                  <p class="copyright-text">Designed by <a href="#" target="_blank">Aliyu Muhammad Musa</a></p>
              </div>

              <div class="col-lg-5 col-8">
                  <h5 class="text-white mb-3">Sitemap</h5>

                  <ul class="footer-menu d-flex flex-wrap">
                      <li class="footer-menu-item"><a href="about.html" class="footer-menu-link">Story</a></li>

                      <li class="footer-menu-item"><a href="#" class="footer-menu-link">Products</a></li>

                      <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy policy</a></li>

                      <li class="footer-menu-item"><a href="#" class="footer-menu-link">FAQs</a></li>

                      <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-4">
                  <h5 class="text-white mb-3">Social</h5>

                  <ul class="social-icon">

                      <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                      <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                      <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                      <li><a href="#" class="social-icon-link bi-skype"></a></li>
                  </ul>
              </div>

          </div>
      </div>
  </footer>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/Headroom.js' %}"></script>
<script src="{% static 'js/jQuery.headroom.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>