<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>order_page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com '%}" />

    <link
      rel="preconnect"
      href="{% static 'https://fonts.gstatic.com '%}"
      crossorigin
    />

    <link
      href="{% static 'https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap '%}"
      rel="stylesheet"
    />

    <link href="{% static 'css/bootstrap.min.css '%}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-icons.css '%}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/slick.css '%}" />

    <link
      href="{% static 'css/tooplate-little-fashion.css '%}"
      rel="stylesheet"
    />
    <!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
  </head>

  <body>
    <section class="preloader">
      <div class="spinner">
        <span class="sk-inner-circle"></span>
      </div>
    </section>

    <main>
      <header
        class="site-header mt-0 section-padding d-flex justify-content-center align-items-center"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-12">
              <h1>
                <span class="d-block text-dark">Checkout</span>
              </h1>
            </div>
          </div>
        </div>
      </header>
      {% include 'components/message.html' %}
      <div class="container">
        <p class="text-center mt-3">{{cart|default:"Cart is empty"}}</p>
        <div class="col-lg-6 col-12 my-5 d-block shadow mx-auto p-5">
          <ol>
            {% for item in cart.cart_items.all %}
            <li>{{ item.crop.crop_name}} X {{ item.quantity }}</li>
            {% endfor %}
          </ol>
          <p>Total: &#8358;{{ total_price }}</p>
          <form method="post">
            {% csrf_token %}
            <div class="form-floating">
              <input
                type="text"
                name="fname"
                id="fname"
                class="form-control"
                value="{{user.full_name}}"
                required
              />

              <label for="fname">Full Name</label>
            </div>
            <br />
            <div class="form-floating">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                value="{{user.email}}"
                required
              />

              <label for="email">Email</label>
            </div>
            <br />
            <div class="form-floating">
              <input
                type="text"
                name="contact"
                id="contact"
                class="form-control"
                value="{{profile.contact}}"
                required
              />

              <label for="cprice">Contact</label>
            </div>
            <br />
            <div class="form-floating">
              <input
                type="text"
                name="city"
                id="contact"
                class="form-control"
                value="{{address.city}}"
                required
              />

              <label for="cprice">City</label>
            </div>
            <br />
            <div class="form-floating">
              <input
                type="text"
                name="location"
                id="location"
                class="form-control"
                value="{{address.location}}"
                required
              />

              <label for="cprice">Location</label>
            </div>
            <a href="{% url 'account' %}" class="float-end">Update Your Account</a>
            <br />
            <br />

            <div class="d-grid">
              <button type="submit" class="btn custom-btn cart-btn">
                Checkout
              </button>
            </div>
          </form>
        </div>
      </div>

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-10 me-auto mb-4">
              <h4 class="text-white mb-3">
                <a href="index.html">KBT</a> Marketplace
              </h4>
              <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">
                Copyright © 2025 <strong>KBT-Marketplace</strong>
              </p>
              <br />
              <p class="copyright-text">
                Designed by <a href="#" target="_blank">Aliyu Muhammad Musa</a>
              </p>
            </div>

            <div class="col-lg-5 col-8">
              <h5 class="text-white mb-3">Sitemap</h5>

              <ul class="footer-menu d-flex flex-wrap">
                <li class="footer-menu-item">
                  <a href="about.html" class="footer-menu-link">Story</a>
                </li>

                <li class="footer-menu-item">
                  <a href="#" class="footer-menu-link">Products</a>
                </li>

                <li class="footer-menu-item">
                  <a href="#" class="footer-menu-link">Privacy policy</a>
                </li>

                <li class="footer-menu-item">
                  <a href="#" class="footer-menu-link">FAQs</a>
                </li>

                <li class="footer-menu-item">
                  <a href="#" class="footer-menu-link">Contact</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-4">
              <h5 class="text-white mb-3">Social</h5>

              <ul class="social-icon">
                <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                <li><a href="#" class="social-icon-link bi-skype"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <!-- JAVASCRIPT FILES -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/Headroom.js' %}"></script>
      <script src="{% static 'js/jQuery.headroom.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
    </main>
  </body>
</html>
